#about-pages{
    position: relative;
    height: 511.2px;
    overflow: hidden;
} 
#about-pages h1{
    padding: 0.5em 0em 0 1em;
    position: relative;
    z-index: 3;
    font-size: 3.2em;
}
 .container-introduction {
    font-weight: bold;
    position: relative;
    max-width: 400px; /* Ширината на контейнера */
    height: 360px;
    margin: 0 5% 0 auto; /* Центриране на контейнера */
    font-size: 1.2em; /* Размер на шрифта */
    text-indent: 1.5em; /* Отстъп за първия ред */
    text-align: justify;
    top: -18%;
    z-index: 2;
}

.mask-introduction {
    text-shadow: 2px 4px 10px rgb(255, 255, 255),
                 2px 4px 5px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    background-color: rgb(101, 115, 255); /* Цвят на запълване */
    mask-image: url('/assets/images/pngegg (3).png'); /* Стандартна маска */
    -webkit-mask-image: url('/assets/images/pngegg (3).png'); /* WebKit маска */
    mask-size: cover; /* Разтегляне на маската */
    -webkit-mask-size: cover; /* Разтегляне на маската за WebKit */
    mask-position: 34% 0;
    -webkit-mask-position-x: 34%;
    mask-repeat: no-repeat; /* Маската не се повтаря */
    -webkit-mask-repeat: no-repeat; /* Маската не се повтаря за WebKit */
    color: rgb(144, 0, 201); /* Цвят на текста при преминаване през маската */
   
}

.introduction {
    text-shadow: 2px 4px 10px rgb(101, 115, 255),
                 2px 4px 5px rgb(101, 115, 255);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white; 
}

.main-image-container {
    top: -74%;
    position: relative;
    width: 500px; /* Намаляване на ширината наполовина */
     /* Центриране на контейнера */
    overflow: hidden; /* Скриване на излишъка от изображението */
    pointer-events: none;
    z-index: 3;
}
.main-image {
    width: 100%;
    mask-image: url('/assets/images/mask.png'); /* Стандартна маска */
    -webkit-mask-image: url('/assets/images/mask.png'); /* WebKit маска */
    mask-size: cover; /* Разтегляне на маската */
    -webkit-mask-size: cover; /* Разтегляне на маската за WebKit */
    mask-position: center top; /* Позициониране на маската нагоре */
    -webkit-mask-position: center top; /* Позициониране на маската нагоре за WebKit */
}

#toggle {
    display: none;
}

/* Стил за контейнера, който ще се показва и скрива */
.container-moreInfo {
    /*
    
    mask-image: url('/assets/images/mask.png'); 
    -webkit-mask-image: url('/assets/images/mask.png'); 
    display: none; 
    
    

    mask-repeat: no-repeat;
    mask-size: cover; 
    -webkit-mask-size: cover; 
    mask-position: center top;
    -webkit-mask-position: center top;*/
    top: 0px; 
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: rgb(0, 0, 0); */
    z-index: 4;
    overflow: hidden;
    
}
.spot{
    position: absolute;
    width: 550px;
    display: none;
}
.spot2{
    top: 100px;
    left: 80px;
    transform: rotate(315deg);
    
}
.spot3{
    top: 100px;
    left: -100px;
    transform: rotate(137deg);
}
.spot4{
    top: 200px;
    transform: rotate(270deg);
}
.spot5{   
    top: -10px;
    left: 120px;
    transform: rotate(92deg);
}
.spot6{
    left: 300px;
    transform: rotate(154deg);
}
.spot7{
    top: -50px;
    left: -120px;
    transform: rotate(265deg);
}
.spot8{
    top: 150px;
    left: 400px;
    transform: rotate(11deg);
}
.spot9{
    top: 130px;
    left: 200px;
    transform: rotate(187deg);
}

/* Стил за бутона */
.moreInfo-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(144, 0, 201);
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: 70%;
    top: -24%;
    border: 2px solid white;
    z-index: 5;
    transition: background-color 3s ease;
}
.moreInfo-button:hover, .checkSkillsButton a:hover{
 border-style: dashed;
 transform: translatey(-8px);
}
.checkSkillsButton:hover{
 transform: translatey(-8px);
}
.container-moreInfo p{
    text-shadow: 2px 4px 10px rgb(0, 0, 0),
                 2px 4px 5px rgb(0, 0, 0);
    padding-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    position:relative;
    top: 32%;
    left: 19%;
    max-width: 500px;
    display: none;
}
.checkSkillsButton{
    display: none;
    position:relative;
    top: 39%;
    left: 19%;
}
.checkSkillsButton a{
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(10, 7, 52);
    border-radius: 5px;
    text-decoration: none;
}