#skills-pages{
    height: 511.2px;

}
        @import url('https://fonts.cdnfonts.com/css/bebas-neue');
        @import url('https://fonts.cdnfonts.com/css/poppins');
        /* 1200 x 780 */
       
        svg{
            color: #fff;
        }
        :root{
            --width-default: min(1200px, 90vw);
            --diameter: 1432px;
        }

        .slider{
            color: #eee;
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        .slider .list .item{
            position: absolute;
            inset: 0 0 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s;
            overflow: hidden;
        }
        .slider .list .item .content{
            position: absolute;
            height: 100%;
            transform: translateX(-50%);
            max-width: 50%;
             font-size: 1.2em;
             text-transform: uppercase;
             font-family: Poppins;
            text-shadow: 0 0 15px black;
            margin: 0  0 0 50px;
        }
        .slider .list .item .content h2{
            position: relative;
            top: 15%;
            font-size: 6em;
            font-family: 'Bebas Neue', sans-serif;
            transition: transform 1s;
            margin: 0;
            filter: drop-shadow(5px 5px 5px rgb(255, 1, 1));
        }

        .slider .list .item .content p{
            height: 250px;
            width: 300px;
            filter: drop-shadow(0px 0px 5px rgb(0, 0, 0))
                    drop-shadow(0px 0px 10px rgb(0, 0, 0))
                               
        }
        /* item default */
        .slider .list .item .image{
            flex-shrink: 0;
            width: var(--diameter); /*100% */
            height: var(--diameter);
            background-image: var(--url);
            background-size: var(--diameter) var(--diameter);
            background-position: center;
            border-radius: 50%;
            transform: rotate(-60deg);
            position: absolute;
            bottom: -50%;
            left: -50%; 
            transition: 1s;
        }
        .slider .list .item .image::before,
        .slider .list .item .image::after{
            position: absolute;
            width: 70%;
            height: 70%;
            content: '';
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)  rotate(-170deg);
            background-image:
            linear-gradient(to right, #0004, #0004),
            var(--url);
            background-size: var(--diameter) var(--diameter);
            background-position: center;
            transition: 1s;
        }
        .slider .list .item .image::after{
            width: 30%;
            height: 30%;
            background-image: var(--url);
            border: 3px solid #fff2;
            transform: translate(-50%, -50%) rotate(-800deg);
        }

        /* default  */
        .slider .list .item .image{
            filter: blur(30px);
        }

        .slider .list .item{
            pointer-events: none;
            opacity: 0;
        }
        /* item active */
        .slider .list .item.active{
            pointer-events: auto;
            opacity: 1;
        }
        .slider .item.active .image{
            filter: blur(0px);
            transform: rotate(0deg);
        }
        .slider .item.active .image::before,
        .slider .item.active .image::after
        {
            transform: translate(-50%, -50%) rotate(0deg) ;
        }
        .slider .list .item.active .content h2{
            transform: translateY(-60%);
        }

        .slider .list .item.active ~ .item{
            opacity: 0;
        }
        .slider .item.active ~ .item .image{
            transform: rotate(60deg);
        }
        .slider .item.active ~ .item .image::before
        {
            transform: translate(-50%, -50%) rotate(170deg) ;
        }
        .slider .item.active ~ .item .image::after
        {
            transform: translate(-50%, -50%) rotate(800deg) ;
        }
        .slider .list .item.active ~ .item .content h2{
            transform: translateY(100%);
        }
        /* arrows */
        .arrowSVG{
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            border: 1px dashed white;
        }
        #prev, #next{
            display: flex;
            align-items: center;
        }
        .arrows{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
            width: var(--width-default);
            display: flex;
            justify-content: center;
            gap: 20px;
            bottom: 10px;
        }
        .arrows button{
            all: unset;
            cursor: pointer;
        }
        .slider .list::after{
            position: absolute;
            content: '';
            
            width: 400px;
            height: 511.6px;
            right: -10px;
            transform: scaleX(-1);
            background-image: url(/img/2test.png);
            background-size: 90%;
            background-position: bottom;
            pointer-events: none;
            background-repeat: no-repeat;
            
            
        }
        .slider .list::before{
            content: '';
            position: absolute;
            z-index: 1;
            width: 13%; 
            height: 18%;
            border-radius: 10px;
            background-image:  var(--before-background-image);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            right: 280px; 
            top: 38%; 
            animation: rotateLogo 2s infinite linear, hoveringLogo 4s infinite linear;
        }
        
        .navPoints{
            display: flex;
            gap: 30px;
            align-items: center;
        }

        .pageNumber {
            border-radius: 50%;
            background-color: white;
        }
        .activePoint{
            animation: enlargement 0.5s forwards;
        }
        .NOactivePoint{
            animation: reduction 0.5s forwards;
        }
        .pageNumber:not(:last-child)::after{
            content: '';
            position: absolute;
            background-color: white;
            width: 50px;
            height: 3px;
            top: 45%;
        }
        @keyframes enlargement {
            from{
                width: 10px;
                height: 10px;
            } to{
                width: 20px;
                height: 20px;
            }
        }
        @keyframes reduction {
            from{
                width: 20px;
                height: 20px;
            } to{
                width: 10px;
                height: 10px;
            }
        }

        @keyframes rotateLogo {
            0% {
                transform: scaleX(-1) ;
            }
            50% {
                transform: scaleX(1);
            }
            100% {
                transform: scaleX(-1);
            }
        }
        @keyframes hoveringLogo{
            0% {
                top: 38%;
                opacity: 0.3;
            }
            50% {
                top: 33%;
                opacity: 1;
            }
            100% {
                top: 38%;
                opacity: 0.3;
            }
        }

        .arrows button.d-none{
            opacity: 0;
            pointer-events: none;
        }

        .certificateButton{
            text-decoration: none;
            font-size: 1.3em;
            font-weight: bold;
            display: block;
            width: 230px;
            text-align: center;
            border-radius: 50px;
            color: white;
            background-color: rgba(255, 0, 0, 0.534);
            border: 2px solid rgb(0, 0, 0);
            transform: translateY(150%);
            height: max-content;
            margin-bottom: 10px;
            
        }
        .certificateButton:hover{
            color: rgb(24, 2, 51);
            background-color: rgba(255, 0, 0);
            border: 2px solid rgba(255, 0, 0, 0.534);
            outline: 5px dashed white;
            outline-offset: -2px; 
        }
        

        .certificateButtonMoretThenOne{
            text-decoration: none;
            font-size: 1em;
            font-weight: bold;
            display: block;
            width: 230px;
            text-align: center;
            border-radius: 50px;
            color: white;
            background-color: rgba(255, 0, 0, 0.534);
            border: 2px solid rgb(0, 0, 0);
            transform: translateY(150%)
        }

        .certificateConteiner > a{
            font-size: 1em;
            margin-bottom: 10px;

        }
        .certificateConteiner h4{
            margin: 0 0 0 0;
            text-shadow: 0 0 10px black, 2px 2px 5px red, -2px -2px 5px blue;
        }

        .hidingButtonPDF{
            display: none;
            position: absolute;
            top: 5%;
            left: 7%;
            padding: 2.5em 1.5em;
            border-radius: 50%;
            background-color: #00000096;
            font-size: 18px;
            border: 2px dashed white;
            color: white;
        }
        .hidingButtonPDF:hover{
            background-color: red;
            
        }
       
        